<div class="form_location">
    <div class="outer_form">

  <form [formGroup]="loginForm" (ngSubmit)="onLoginWith()" >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        id="emailFormControl"
        type="text"
        matInput
        formControlName="emailFormControl"
        placeholder="Enter your Email"
      />
      <!-- <mat-error *ngIf="emailFormControl.hasError('required')"
        >Email is required</mat-error
      > -->
      <!-- <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
        >Please enter a valid email address</mat-error
      > -->
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        id="passwordFormControl"
      type="password" matInput formControlName="passwordFormControl" />
      <!-- <mat-error *ngIf="passwordFormControl.hasError('required')"
        >Please enter password</mat-error
      > -->
    </mat-form-field>
    <div style="align-items: center;">
        <button type="submit" mat-raised-button color="accent">Login</button>
    </div>
  </form>
  
</div>
</div>
